@font-face {
    font-family: 'Quicksand';
    src: url('Quicksand.ttf');
} 
@font-face {
    font-family: 'Poppins';
    src: url('Poppins.ttf');
} 
@font-face {
    font-family: 'Hytale';
    src: url('Hytale.otf');
} 
@font-face {
    font-family: 'Lexend';
    src: url('Lexend.ttf');
}  
@font-face {
    font-family: 'Hytale Variant 1';
    src: url('Hytale.ttf');
} 